In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./covid_toy.csv")

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [24]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [14]:
xTrain, xTest, yTrain, yTest = train_test_split(df.drop(columns='has_covid'), df['has_covid'], train_size=.9)

In [18]:
colTrans = ColumnTransformer(
    transformers=[
        ('t1', SimpleImputer(), ['fever']),
        ('t2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
        ('t3', OneHotEncoder(drop='first', sparse=False), ['gender', 'city'])
    ],
    remainder='passthrough'
)

In [20]:
xTrainNew = colTrans.fit_transform(xTrain)
xTestNew = colTrans.transform(xTest)

/Users/maverick/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [22]:
xTrainNew = pd.DataFrame(xTrainNew)

In [23]:
xTrainNew

        0    1    2    3    4    5     6
0    99.0  0.0  0.0  0.0  0.0  1.0  60.0
1   104.0  1.0  0.0  1.0  0.0  0.0  75.0
2    98.0  0.0  0.0  1.0  0.0  0.0  80.0
3    98.0  0.0  0.0  0.0  1.0  0.0  31.0
4   101.0  1.0  1.0  0.0  0.0  0.0  47.0
..    ...  ...  ...  ...  ...  ...   ...
85  104.0  0.0  0.0  0.0  1.0  0.0   6.0
86  100.9  1.0  1.0  0.0  1.0  0.0  79.0
87  103.0  1.0  1.0  0.0  1.0  0.0  70.0
88  100.9  1.0  0.0  0.0  0.0  1.0  20.0
89  100.9  1.0  1.0  0.0  1.0  0.0  71.0

[90 rows x 7 columns]